@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap");
.bg-img {
  background: url("../../images/bg.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.bg-img:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.content {
  position: absolute;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  z-index: 999;
  text-align: center;
  padding: 60px 32px;
  width: 370px;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
}
.content header {
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 35px 0;
  font-family: "Montserrat", sans-serif;
}
.field {
  position: relative;
  border: 1px solid#CACACA;
  border-radius: 5px;
  height: 45px;
  width: 100%;
  display: flex;
  background: rgba(255, 255, 255, 0.94);
}
.field span {
  color: #222;
  width: 40px;
  height: 50px;
  line-height: 45px;
}
.field input {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  border-radius: 5px;
  outline: none;
  color: #222;
  font-size: 16px;
}

.field button {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-size: 18px;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  transition: all 0.3s ease;
  cursor: pointer;
}
.field-button:hover {
  background: linear-gradient(135deg, #c850c0, #4158d0);
}
.space {
  margin-top: 16px;
}
.show {
  position: absolute;
  right: 13px;
  font-size: 13px;
  font-weight: 700;
  color: #222;
  display: none;
  cursor: pointer;
}
.pass-key:valid ~ .show {
  display: block;
}
.policy {
  font-size: 15px;
  display: flex;
  align-items: center;
  text-align: left;
  color: #3498db;
  margin: 10px 0;
}
.policy input {
  margin-right: 5px;
}

.pass:hover a {
  text-decoration: underline;
}
.line {
  position: relative;
  height: 1px;
  width: 100%;
  margin: 36px 0;
  background-color: #d4d4d4;
}
.line::before {
  content: "Or";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #8b8b8b;
  padding: 0 15px;
}
.links {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin: 0 0 20px 0;
}
.facebook,
.google {
  width: 45px;
  height: 45px;
  line-height: 45px;
  margin-left: 10px;
}
.facebook {
  margin-left: 0;
  border-radius: 5px;
  background: #fff;
  color: #4267b2;
  border: 1px solid #cacaca;
}
.google {
  color: #e1306c;
  background: #fff;
  border: 1px solid #cacaca;
  border-radius: 5px;
}
.facebook:hover {
  background: #4267b2;
  color: #fff;
}
.google:hover {
  background: #e1306c;
  color: #fff;
}
.links i {
  font-size: 17px;
}
i span {
  margin-left: 8px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
}
.login {
  font-size: 15px;
}
.login a {
  color: #3498db;
  text-decoration: none;
}
.login a:hover {
  text-decoration: underline;
}
